# Add PyPI 
lxml

# sasl Install
sasl
thrift
thrift-sasl

# Hive 설치
pyhive

# Hive Operator 사용을 위한 Install
apache-airflow-providers-apache-hive

# Docker Operator
apache-airflow-providers-docker

# JDBC 사용을 위한 Install
apache-airflow-providers-jdbc

# No module named 'plyvel' 해결 시도
apache-airflow-providers-google
plyvel

# JDBC Connection에 필요한 Install
jaydebeapi
hdbcli
pyjdbc

# Postgresql
psycopg2

# SqlServer
pymssql

# HDFS Install
# apache-airflow[hdfs]
pyhdfs
hdfs

# Mariadb 사용
pymysql

#yaml파일 Read
pyyaml

# SFTP Install
pysftp
paramiko

# mssql
pymssql

# multipledispatch
multipledispatch

#elasticsearch
elasticsearch5

#MLFLOW
mlflow
mlxtend

# Modeling
tqdm==4.64.0
lightgbm==3.3.2
xgboost==1.5.1
catboost==1.0.5
imblearn
shap
seaborn
lime
tensorflow==2.7.1
keras==2.7.0

tensorflow-gpu==2.7.1
beautifulsoup4
matplotlib==3.5.2
scikit-learn==0.23.2   # SNOP 모델링을 위해 1.1.0 -> 0.23.2로 다운그레이드 진행
pytz
pyarrow==8.0.0
tslearn==0.5.2
statsmodels
pmdarima==1.8.5
h5py==3.7.0

# 크롤링
selenium

# 부가 기능
requests_toolbelt
openpyxl

pycaret
numpy==1.22.3
pandas==1.4.2
pyspark==3.2.1