/****** SSMS의 SelectTopNRows 명령 스크립트 ******/


-- 신규 전자결재 음료 양식 양식 폼스키마 

SELECT TOP 1000 S.[FORM_ID]
	  ,F.FORM_NAME
      ,S.[RCV_DEPT_NUM]
      ,S.[RECEPTION_DEPT]
      ,S.[SCREEN_ORIENTATION]
      ,S.[SCREEN_WIDTH]     
  FROM [EWF].[WF].[WF_FORM_SCHEMA] AS S
  LEFT JOIN EWF.[WF].[WF_FORMS] AS F
	ON S.FORM_ID = F.FORM_ID
where S.FORM_ID in
(
'Y00CBC00E7ED9427EB7185EA0FBE35EDE',
'YEC587513360E4A069DE6F0966BB672D4',
'Y16E869A722CF419EB26516F4B1534B5F',
'Y9F6325EFF2B9419ABA6080A4101BA4C3',
'Y01C1ADE96A95424FBF536DC86089C4CF',
'YD94E6B7C64D5439699B51D24A191E9EE',
'Y1BBCC964B4604CD183DDF000442ADBF3',
'YA3870F7E6DCF420F80A4918E1400528F',
'Y5F403043FF5C414D9A20DE92F344286A',
'YABBF669B7D4A4BDB816DA641B4011E13',
'YD0F9F205D08E4C9A8E324914A0DAB294',
'YFD29397A52934131B4043AA3293DFACD',
'YD0E0C38F254E4A0CA4384257F2E24824',
'YFE6A553FC5034495B9F3753CFF398EE1',
'YE44B5BB67E4046DF8752A7C41258A705',
'YD6F5A0765A154DA99AAFA2E51FD4854F',
'Y187E2C85416544BDB37511F352DF2635',
'YCC613C4265FA4013AB0B7337C3B852F1',
'YA4E264C347AA408E90373A9C73D87A5C',
'Y263432B2ABA84BF9835EF6F595B39720',
'YB81335F5C61F4C19BB2F89B0A7D8E1E3',
'Y01E912946BB34689818244B58C204515',
'Y0EE7F9F91FF4403DB214FE95D56DBFC1',
'Y56D1D28660014E459EAD50E141FA5E07',
'Y4C295DBDB2FE4D8DA4A49242F0070DBD',
'Y696845B8D32B49639D6F26DCDEF5DC61',
'Y18AEE908D006410D93E942E2FD0D34B5',
'Y4A19B9A93D644A1C9F811F70FCC23E6A',
'Y2CECD1F557654A8F8A02FBFB041B58A7',
'YCCFBC537BE28429B85E1EAAB5257D8D0',
'Y034004B876894FD1908919B5F80E75C8',
'Y9CF36921A8214EF680C714495F3EFE45',
'Y3611F8DB0F0F447299462073CD0128AF',
'Y188B536CFEC046F0919F5DDB9BD02D45',
'Y291DF334C99A47D1B6F00C1C0F7DDD90',
'Y019D87B4FBB64C2D9F2AF66FDBE8AB49',
'YFABBBCCCD870400DA8DA58D357AAE800',
'YDF656000163948D58D993DA66E0D7ACE',
'Y3AD37647839F45C883A047BF2648BD70',
'Y96CFB35A64CC4889BA9B50FEB49E5DB9',
'Y297E5FB44F89409FB7D24E3368F5B6BD',
'YDC00CA55EAC042E4847A86FE345E1986',
'Y8D211B5B3C2B4A828381E4F5F91DD63D',
'YA8723608CDDC494B98DF4304D4C4EB5E',
'Y2DE0A8AEA38F484FA78BDB33B7AA2F13',
'Y4D270910D958485EB826FA9519E32B13',
'YA1A3C6AE866F4963819EBD44DD088A49',
'YDEBC5C134CEE4B2A8A00C243DD6D9CBF',
'YE9C5382596AB42589567D3290DF3D075',
'Y25F560B6AABD4668A1C58349799A9CC3',
'Y0FBDE93382124140A75E14723E0545D3',
'YC665B17D1EFE4B848155893F7D1A19F3',
'YE1B43705B90F46618E0F044EBBD96BB9',
'Y9B72E33BEB9F4243B32F47078DE8A1C5',
'Y6A91FB07B8FD4F3980E5959CC9B0FA37',
'YCB087D7C87FC4C7FA54E7953F71E1926',
'Y5B443E9098314E3DB9A8C4A1D6AACFE2',
'YA633B1B9DE114581B9264A01B54B298B',
'YE6A8907A455743E58C86D37EC4A658C1',
'YFFAADA0F80644A9F90CF194B70D12C72',
'Y3DF98C03A43547C29F535D0AACDC54B0',
'YA5B9D9F8764541F792AFCDB96D3074C7'
)

